body {
  font-family: sans-serif;
}
#no,#hertz,#disp,#start,#duration {
  display: none;
}
body.main {
  background-color:#f00;
}
#note {
  display: none;
  /*opacity: 0;*/
  color: #fff;
  border-radius: 25px;
  background: #73AD21;
  /*background: #73AD21;*/
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.noteButton {
  text-decoration: none;
  margin-bottom: 10px;
}
a {
  color: #3366ff;
}
#sameSession {
  margin-top: 5px;
}
